# ----------------------
# Yarn / Node
# ----------------------
node_modules
.pnp.*
.yarn/

# ----------------------
# Logs
# ----------------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ----------------------
# OS / Editor
# ----------------------
.DS_Store
.vscode/
.idea/
